* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#caption {
    margin-left: 4%;
    color: #EC7B59;
}

fieldset {
    border: 0;
}

body {
    background: #524556;
    font-size: 1em;
    color: #EC7B59;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, textarea, button {
    font-size: 1em;
    color: #EC7B59;
    border-radius: 5px;
}

fieldset.group {
    float: top;
    margin-top: 2%;
}

.comoca {
    margin-bottom: 1em;
    margin-left: 4%;
}

.comoca label {
    display: block;
    margin-bottom: 0.2em;
    color: #EC7B59;
}

.comoca input[type=text], .comoca input[type=password] {
    padding: 00.2em;
    border: 1px solid #E4DDCB;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.comoca input:focus, .comoca textarea:focus {
    background: #E0E0F8;
}

.group:before, .group:after {
    display: table;
}

.group:after{
    clear: both;
}

.button {
    font-size: 1.2em;
    background: #EC7B59;
    border: 0;
    margin-bottom: 1em;
    color: #E4DDCB;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 75%;
    left: 47%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    background: #CE4646;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.button {
    cursor: pointer;
}
