* {
    font-family: sans-serif;
}

body {
    background-color: 	#524556;
}


.ComOcaIMG {
    position: absolute;
    top: 25%;
    left: 50%;
    height: 256px;
    width: 256px;
    transform: translate(-50%, -50%);
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding: 5px;
    margin-top: 27%;
    margin-left: 10%;
}

.Button{
    cursor: pointer;
    background-color: #EC7B59;
    border-radius: 10px;
    position: relative;
    width: 250px;
    height: 50px;
    text-align: center;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 0;
    color: #ffffff;
}

.Button:hover{
    background-color:#CE4646;
    border-radius: 10px;
    position: relative;
    align-items: center;
    width: 250px;
    height: 50px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

fieldset {
    border: 2px solid #CE4646;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-left: 33%;
    background-color: #E4DDCB;
    border-radius: 25px;
}

fieldset.group .grid {
    float: top;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}